@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
*{
    font-family: 'Hammersmith One', sans-serif;
}
body{
    background-image: linear-gradient(90deg, rgb(246, 246, 60) 0%, rgb(1, 34, 59) 100%);
}
.forms{
    background-image: url('images/back56.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 60%;
    margin: 7% 20%;
    height: 70vh;
    border-radius: 20px;
    display: flex;
    box-shadow: 10px 10px 8px #000000a9;
}